# Ignorar configurações
.vscode/

# Ignorar debug
debug/

# Ignorar binários e arquivos de saída
bin/

# Ignorar arquivos de salvamento
data/salvamento
data/leaderBoard


# Ignorar objetos de compilação
obj/

# Ignorar arquivos .d (dependências geradas)
*.d

# Ignorar outros arquivos específicos de compilação
*.o

# Ignorar arquivos de texto
*.txt