# Ignorar configurações
.vscode/

# Ignorar debug
debug/

# Ignorar binários e arquivos de saída
bin/

# Ignorar arquivos de salvamento
#data/salvamento/buraco_negro.txt
#data/salvamento/plataforma.txt
#data/salvamento/portal.txt
#data/salvamento/aberracao_espacial.txt
#data/salvamento/alienigena.txt
#data/salvamento/jogador.txt
#data/salvamento/viajante_mau.txt
#data/salvamento/plasma.txt

# Ignorar objetos de compilação
obj/

# Ignorar arquivos .d (dependências geradas)
*.d

# Ignorar outros arquivos específicos de compilação
*.o

# Ignorar arquivos de texto
#*.txt